@import 'src/styles/config.scss';

.products {
  margin-top: 25px;
  .productsCategory {
    text-align: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  span {
    color: $error;
  }
}