$maintheme: #ededed;
$secondtheme: #b0b5b3;
$darktheme: #706F6F;

$primary: #5F63DD;
$secondary: #57753c;
$error: #B03434;
$success: #57E462;
$warning: #F5EE8F;

$font-poppins: "Poppins", sans-serif;

$box-shadow: 0px 5px 5px 1px rgb(88, 88, 88);
